.header {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(255, 188, 87); */
  /* border: 1px solid black; */
}
.logo {
  margin-left: 10px;
  margin-top: 14px;
  width: 60px;
}
.Nav-items > ul {
  font-size: 19px;
  display: flex;
  padding: 0px 20px;
  list-style: none;
}
.Nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.Nav-elements{
  color: #fe862d;
  font-size: 26px;
}
.res-card {
  padding: 5px;
  width: 250px;
  /* height: 300px; */
  background-color: rgb(255, 188, 87);
  margin: 15px;
  border-radius: 15px;
  transition: transform 0.5s ease; 
}
.res-card:hover {
  /* border: 4px solid black; */
  transform: scale(1.08);
  cursor: pointer;
}
.search-wrapper {
  position: relative;
  width: fit-content;
  margin: 20px 0;
    /* top: 20%; */
  left: 22%;
  transform: translate(-50%, -15%);
}

.search-input {
  margin: 20px 0;
  width: 380px;
  padding: 10px 40px 10px 12px; /* extra right padding for icon */
  border-radius: 30px;
  border: 3px solid #fe862d;
  font-size: 18px;
  height: 32px;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  pointer-events: none; /* so clicks go to input */
}

.res-logo {
  width: 100%;
  height: 60%;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
